body {
  text-align: center;
  background-color: bisque;
}

#level-title {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 3rem;
  margin: 5%;
  color: gray;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid gray;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #ffb3b3;
}

.green {
  background-color: #a0daa9;
}

.blue {
  background-color: #bbeaff;
}

.yellow {
  background-color: #ffff99;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}